In [ ]:
import pandas as pd
import numpy as np

# Create a dictionary of series
d = {'Name': pd.Series(['A','B','C','D']),'Age':pd.Series([20,21,25,26]),
                       'Marks':pd.Series([80,55,72,34])}
df = pd.DataFrame(d)
                       
df

In [4]:
df.describe()

            Age      Marks
count   4.00000   4.000000
mean   23.00000  60.250000
std     2.94392  20.369503
min    20.00000  34.000000
25%    20.75000  49.750000
50%    23.00000  63.500000
75%    25.25000  74.000000
max    26.00000  80.000000

In [6]:
2 + 2

4

In [8]:
3234 * 234234

757512756

# This is a remark statement